body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content */
    flex: 1; /* Make buttons take equal space */
    -webkit-appearance: none; /* Remove default iOS styling */
    -moz-appearance: none; /* Remove default Firefox styling */
    appearance: none; /* Remove default styling */
}

.navbar button .material-icons {
    margin-right: 8px;
    vertical-align: middle; /* Align icons with text */
    line-height: 1; /* Ensure icons are vertically centered */
}

.navbar button.active {
    background-color: #555;
    border-radius: 20px;
}

.navbar button:hover {
    background-color: #444;
}

.relay-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.relay-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 40px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    -webkit-appearance: none; /* Remove default iOS styling */
    -moz-appearance: none; /* Remove default Firefox styling */
    appearance: none; /* Remove default styling */
}

.relay-button::after {
    content: '';
    position: absolute;
    bottom: 10px; /* Padding from the bottom */
    left: 10px; /* Padding from the sides */
    right: 10px; /* Padding from the sides */
    height: 5px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.relay-button.active::after {
    background-color: limegreen;
}

.relay-button:hover {
    background-color: #555;
}
